@import '../../../../styles/vars.scss';

.info {
  margin: 30px 0 0 0;
  padding: 0 15px;
}

.info__item {
  @include flex(center, space-between, nowrap);
  gap: 30px;
  margin-bottom: 20px;
}

.item__wrapper {
  max-width: 730px;
  margin-bottom: 5px;
  width: 100%;
}

.item__title {
  @include text(24px, 140%, bold);
  color: $gray-title;
  margin-bottom: 15px;
  @media screen and (max-width: 992px) {
    @include text(18px, 160%, bold);
  }
}
.item__description {
  @include text(16px, 160%, 400);
  color: $gray-text;
  @media screen and (max-width: 992px) {
    @include text(12px, 140%, bold);
  }
}

.item__btns {
  max-width: 250px;
  max-height: 250px;
}

.founder {
  margin-top: 20px;
}
