@import '../../styles/vars.scss';

.home {
  position: relative;
  padding-top: 80px;
  min-height: 100vh;
  background-image: url('../../assets/images/blur.png');
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (max-width: 768px) {
    padding-top: 40px;
  }
}
.home__header {
  @include flex(center, space-between, nowrap);
  gap: 40px;
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.home__react {
  position: absolute;
  top: 0;
  @include flex(center, center, nowrap);
  width: 100%;
  & > object {
    max-width: 100%;
  }
}

.home__pictures {
  position: relative;
  width: 100%;
  & > object {
    max-width: 100%;
  }
  &:after {
    content: '';
    position: absolute;
    width: 83%;
    height: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: linear-gradient(
      357deg,
      rgb(16, 73, 68) 0%,
      rgba(0, 0, 0, 0.95) 100%
    );
    filter: blur(50px);
    @media screen and (max-width: 576px) {
      height: 30%;
    }
  }
}

.container {
  @include container(1215px, 15px);
  @media screen and (max-width: 768px) {
    max-width: 576px;
  }
}

.home__info {
  max-width: 625px;
}

.home__span {
  color: $blue-sky;
}

.home__subtitle {
  @include text(16px, 160%, 400);
  color: $gray-text;
  margin-top: 20px;
  @media screen and (max-width: 768px) {
    @include text(14px, 160%, 400);
    text-align: center;
  }
}
