@import '../../../styles/vars.scss';

.additional {
  @include flex(stretch, center, nowrap);
  min-height: 120px;
  &:hover > .additional__desc {
    transition: all 0.3s linear;
    background-color: $gray4-divider;
  }
}

.additional__obj {
  background-color: $green;
  padding: 30px 20px;
  @include flex(center, center, nowrap);
}

.additional__desc {
  padding: 25px 20px;
  @include flex(center, center, nowrap);
  gap: 30px;
  background-color: $gray3-bars;
}

.desc__wrapper {
  max-width: 280px;
}

.desc__title {
  @include text(21px, 140%, bold);
  color: $gray-title;
  margin-bottom: 5px;
}

.desc__desc {
  @include text(14px, 160%, normal);
  color: $gray-text;
}
